* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header-h1 {
  display: inline-block;
  font-size: 48px;
}

.seo {
  color: #d9dcd6;
}

.header-ul-li {
  float: right;
  list-style-type: none;
  font-size: 20px;
  display: inline;
  
}

a {
  color: #ffffff;
  text-decoration: underline;
  
}

p {
  font-size: 16px;
}

#hero {
  height: 800px;
  width: auto;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  width: auto;
  padding: 20px;
  background-color: white;
}

.text-box {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
  color: #ffffff;
}

.benefits-column {
  margin-right: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: auto;
  background-color: #2589bd;
  text-align: center;
  margin-bottom: 32px;
  color: #ffffff;
  display: inline-block;
  
}

#float-left {
  float: left;
  margin-right: 25px;
  max-height: 200px;
}

#float-right {
  float: right;
  margin-left: 25px;
  max-height: 200px;
}

#benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}



.benefit-img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  max-height: 150px;
}

.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.footer-h2 {
  font-size: 20px;
}
