/* Adjusted universal padding and margin to 0 to "reset" everything so i can style it later and set the font for the page then then removed repeated lines */

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

/* set page to flex so i could position elements later and set background to white */

body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: #2a607c;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#header-h1 {
  font-size: 48px;
  padding-left: 20px;
}

.seo {
  color: #d9dcd6;
}

.header-ul-li {
  list-style-type: none;
  font-size: 20px;
  padding-top: 20px;
  color: #ffffff;
}  

/* Set list to inline so the items aligned side by side instead of as a list */

li {
  display: inline;
  padding: 20px;
  
}

a {
  color: #ffffff;
  text-decoration: underline;
}

/* moved image link to css */

.hero {
  height: 800px;
  width: 100%;
  background-image: url("./assets/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* provided base structure for content */

.content {
  width: 75%;
  font-size: 16px;
  background-color: color #ffffff;
  padding-top: 10px;
  padding-left: 10px;

}

/* aded structure to the text boxes specifically */

.text-box {
  margin-bottom: 20px;
  padding: 20px;
  height: 300px;
  background-color: #0072bb;
  color: #ffffff;

}

/* For both float left and right, positioned accordingly with float, debated consolidating further but I think this is sufficient */

.float-left {
  float: left;
  margin-right: 25px;
  max-height: 200px;
  vertical-align: center;
}

.float-right {
  float: right;
  margin-left: 25px;
  max-height: 200px;
  vertical-align: center;
}

.benefits-column {
  clear: both;
  width: 20%;
  height: auto;
  background-color: #2589bd;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}

/* consolidated classes with similar margin */

.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
}

h3 {
  margin-bottom: 10px;
}

.benefit-img {
  max-height: 150px;
  max-width: 150px;
  align-content: center;
}


.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}

